{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/event.css" type="text/css" media="all" />
{include file="public/nav"}

    <div class="body">
        <!-- 最新活动 -->
        <div class="recent col-md-12">
            <div class="col-md-4 col-sm-12">
                <img src="__STATIC__/index/img/eventPoster.png" class="img-responsive" alt="最新活动海报">
            </div>
            <div class="col-md-8 col-sm-12">
                <h1>最新活动标题</h1>
                <h3>副标题</h3>
                <h4>内容简介</h4>
                <div class="contentContainer">
                    <p class="content">
                        XXXXXXXXXXXX
                    </p>
                    <p class="content">
                        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    </p>
                    <p class="content">
                        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    </p>
                </div>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>

        <!-- 近期活动 -->
        <div class="moreEvent col-md-12">
            <div class="col-md-3">
                <img src="__STATIC__/index/img/eventImg.png" class="img-responsive" alt="近期活动">
            </div>
            <div class="col-md-9">
                <h3 class="moreEventTitle">活动2标题XXXXXXXXXXXXXXXXXXXX</h3>
                <h4>副标题</h4>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>
        <div class="moreEvent col-md-12">
            <div class="col-md-3">
                <img src="__STATIC__/index/img/eventImg.png" class="img-responsive" alt="近期活动">
            </div>
            <div class="col-md-9">
                <h3 class="moreEventTitle">活动2标题XXXXXXXXXXXXXXXXXXXX</h3>
                <h4>副标题</h4>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>
        <div class="moreEvent col-md-12">
            <div class="col-md-3">
                <img src="__STATIC__/index/img/eventImg.png" class="img-responsive" alt="近期活动">
            </div>
            <div class="col-md-9">
                <h3 class="moreEventTitle">活动2标题XXXXXXXXXXXXXXXXXXXX</h3>
                <h4>副标题</h4>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>
        <div class="moreEvent col-md-12">
            <div class="col-md-3">
                <img src="__STATIC__/index/img/eventImg.png" class="img-responsive" alt="近期活动">
            </div>
            <div class="col-md-9">
                <h3 class="moreEventTitle">活动2标题XXXXXXXXXXXXXXXXXXXX</h3>
                <h4>副标题</h4>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>
        <div class="moreEvent col-md-12">
            <div class="col-md-3">
                <img src="__STATIC__/index/img/eventImg.png" class="img-responsive" alt="近期活动">
            </div>
            <div class="col-md-9">
                <h3 class="moreEventTitle">活动2标题XXXXXXXXXXXXXXXXXXXX</h3>
                <h4>副标题</h4>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>


    </div>
{include file="public/footer"}