{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/event.css" type="text/css" media="all" />
{include file="public/nav"}

    <div class="body">
        <!-- 最新活动 -->
        <div class="recent col-md-12">
            <div class="col-md-4 col-sm-12">
                <img src="{$eventBig.media_id}" class="img-responsive" alt="最新活动海报">
            </div>
            <div class="col-md-8 col-sm-12">
                <h1>{$eventBig.title}</h1>
                <h3>{$eventBig.subtitle}</h3>
                <h4>内容简介</h4>
                <div class="contentContainer">
                    <p class="content">
                        {$eventBig.content}
                    </p>
                </div>
                <p class="time">{$eventBig.create_time}</p>
            </div>
        </div>

        <!-- 近期活动 -->
        {volist name="events" id="vo" key="key"}
        <div class="moreEvent col-md-12">
            <div class="col-md-3">
                <img src="{$vo.media_id}" class="img-responsive" alt="新闻图片">
            </div>
            <div class="col-md-9">
                <h3>资讯{$key}：{$vo.title}</h3>
                <h3>{$vo.subtitle}</h3>
                <p class="time">{$vo.create_time}</p>
            </div>
        </div>
        {/volist}
    </div>
{include file="public/footer"}