{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="__STATIC__/index/css/index.css" type="text/css" media="all" />
<link rel="stylesheet" href="__STATIC__/index/css/store.css" type="text/css" media="all" />
<link rel="stylesheet" href="__STATIC__/index/css/base.css" type="text/css" media="all" />
<link rel="stylesheet" href="__STATIC__/index/css/join.css" type="text/css" media="all">
<link rel="stylesheet" href="__STATIC__/index/css/slick.css" type="text/css" media="all">
<link rel="stylesheet" href="__STATIC__/index/css/slick-theme.css" type="text/css" media="all">
{include file="public/nav"}
<div class="body-box">
    <div class="img-box">
        <a href="{:url('index/join/process')}">
            <img src="__STATIC__/index/img/join/join1.jpg" alt="" class="img-responsive ">
        </a>
        <a href="{:url('index/join/condition')}">
            <img src="__STATIC__/index/img/join/join2.jpg" alt="" class="img-responsive ">
        </a>
        <a href="{:url('index/join/contact')}">
            <img src="__STATIC__/index/img/join/join3.jpg" alt="" class="img-responsive ">
        </a>
    </div>
</div>
<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
</div>

<script type="text/javascript" src="__STATIC__/index/js/jquery-1.11.1.min.js"></script>
<script src="__STATIC__/index/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jquery.SuperSlide2.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/base.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/slider.js"></script>
<script src="__STATIC__/index/js/slick.min.js"></script>
{include file="public/footer"}