{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/store.css" type="text/css" media="all" />
<link rel="stylesheet" href="__STATIC__/index/css/join.css">
<link rel="stylesheet" href="__STATIC__/index/css/slick.css">
<link rel="stylesheet" href="__STATIC__/index/css/slick-theme.css">
{include file="public/nav"}


<div class="body-box">
    <div class="img-box">
        <a href="{:url('index/join/process')}">
            <img src="__STATIC__/index/img/join/join1.jpg" alt="" class="img-responsive ">
        </a>
        <a href="{:url('index/join/condition')}">
            <img src="__STATIC__/index/img/join/join2.jpg" alt="" class="img-responsive ">
        </a>
        <a href="{:url('index/join/contact')}">
            <img src="__STATIC__/index/img/join/join3.jpg" alt="" class="img-responsive ">
        </a>
    </div>

</div>

{include file="public/footer"}