{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/store.css" type="text/css" media="all" />
<link rel="stylesheet" href="__STATIC__/index/css/join-detail.css">
<link rel="stylesheet" href="__STATIC__/index/css/slick.css">
<link rel="stylesheet" href="__STATIC__/index/css/slick-theme.css">
{include file="public/nav"}


<div class="body-box">
    <div class="detail-box">
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
    </div>

</div>

{include file="public/footer"}