{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/product.css" type="text/css" media="all" />
{include file="public/nav"}


    <!-- 轮播图 -->
<div>
    <div id="ad-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {volist name="banner" id="vo" key="k"}
            <li data-target="#ad-carousel" data-slide-to="0" class="{$k == 1 ? 'active' : ''}"></li>
            {/volist}
        </ol>
        <div class="carousel-inner">
            {volist name="banner" id="vo" key="k"}
            <div class="item {$k == 1 ? 'active' : ''}">
                <img class="img-responsive" src="{$vo.media_id}" alt="1 slide">
            </div>
            {/volist}
        </div>
        <a class="left carousel-control" href="#ad-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#ad-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

    <!-- 产品展示 -->
    <div class="body col-md-12">
        <div class="col-md-12">
            {volist name="bestDesert" id="big" offset="0" length="1"}
            <div class="bigPic col-md-5 col-sm-12 hidden-sm hidden-xs">
                <img class="img-responsive" src="{$big.deserts_id.media_id}" />
            </div>
            {/volist}
            <div class="smPic col-md-7">
                {volist name="bestDesert" id="best" offset="1" length="4"}
                <div class="product col-md-6 col-sm-6">
                    <img class="img-responsive" src="{$best.deserts_id.media_id}" />
                    <p>{$best.deserts_id.name}</p>
                    <p>{$best.deserts_id.introduction}</p>
                </div>
                {/volist}
            </div>
        </div>
        <div class="product9 col-md-12">
            {volist name="allDesert" id="all"}
            <div class="product col-md-4 col-sm-6">
                <img class="img-responsive" src="{$all.media_id}" />
                <p>{$all.name}</p>
                <p>{$all.japan_name}</p>
            </div>
            {/volist}
            {$allDesert->render()}
        </div>


    </div>

{include file="public/footer"}