{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/product.css" type="text/css" media="all" />
{include file="public/nav"}


    <!-- 轮播图 -->
    <div>
        <div id="ad-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#ad-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#ad-carousel" data-slide-to="1"></li>
                <li data-target="#ad-carousel" data-slide-to="2"></li>
                <li data-target="#ad-carousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="__STATIC__/index/img/banner/sky.jpg" alt="1 slide">


                </div>
                <div class="item">
                    <img class="img-responsive" src="__STATIC__/index/img/banner/flower.jpg" alt="2 slide">

                </div>
                <div class="item">
                    <img class="img-responsive" src="__STATIC__/index/img/banner/coffee.jpg" alt="3 slide">


                </div>
                <div class="item">
                    <img class="img-responsive" src="__STATIC__/index/img/banner/building.jpg" alt="4 slide">


                </div>
            </div>
            <a class="left carousel-control" href="#ad-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#ad-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <!-- 产品展示 -->
    <div class="body col-md-12">
        <div class="col-md-12">
            <div class="bigPic col-md-5 col-sm-12 hidden-sm hidden-xs">
                <img class="img-responsive" src="__STATIC__/index/img/product/product1.png" />
            </div>
            <div class="smPic col-md-7">
                <div class="product col-md-6 col-sm-6">
                    <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                    <p>产品中文名 日文名</p>
                    <p>产品简介</p>
                </div>
                <div class="product col-md-6 col-sm-6">
                    <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                    <p>产品中文名 日文名</p>
                    <p>产品简介</p>
                </div>
                <div class="product col-md-6 col-sm-6">
                    <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                    <p>产品中文名 日文名</p>
                    <p>产品简介</p>
                </div>
                <div class="product col-md-6 col-sm-6">
                    <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                    <p>产品中文名 日文名</p>
                    <p>产品简介</p>
                </div>

            </div>
        </div>
        <div class="product9 col-md-12">
            <div class="product col-md-4 col-sm-6">
                <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                <p>产品中文名</p>
                <p>日文名</p>
            </div>
            <div class="product col-md-4 col-sm-6">
                <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                <p>产品中文名</p>
                <p>日文名</p>
            </div>
            <div class="product col-md-4 col-sm-6">
                <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                <p>产品中文名</p>
                <p>日文名</p>

            </div>
            <div class="product col-md-4 col-sm-6">
                <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                <p>产品中文名</p>
                <p>日文名</p>

            </div>
            <div class="product col-md-4 col-sm-6">
                <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                <p>产品中文名</p>
                <p>日文名</p>

            </div>
            <div class="product col-md-4 col-sm-6">
                <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                <p>产品中文名</p>
                <p>日文名</p>

            </div>
            <div class="product col-md-4 col-sm-6">
                <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                <p>产品中文名</p>
                <p>日文名</p>

            </div>
            <div class="product col-md-4 col-sm-6">
                <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                <p>产品中文名</p>
                <p>日文名</p>

            </div>
            <div class="product col-md-4 ">
                <img class="img-responsive" src="__STATIC__/index/img/product/product2.png" />
                <p>产品中文名</p>
                <p>日文名</p>
            </div>
        </div>


    </div>

{include file="public/footer"}