<!-- jQuery -->
<script src="__STATIC__/vendor/jquery/jquery.min.js"></script>
<script src="__STATIC__/vendor/uploadify/jquery.uploadify.min.js"></script>
<script src="__STATIC__/vendor/admin/image.js"></script>


<!-- Bootstrap Core JavaScript -->
<script src="__STATIC__/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__STATIC__/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="__STATIC__/vendor/raphael/raphael.min.js"></script>
<script src="__STATIC__/vendor/morrisjs/morris.min.js"></script>
<script src="__STATIC__/data/morris-data.js"></script>
<script src="__STATIC__/vendor/admin/common.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__STATIC__/dist/js/sb-admin-2.js"></script>
<script src="__STATIC__/vendor/layer/dialog.js"></script>
<script src="__STATIC__/vendor/layer/dialog/layer.js"></script>


</body>

</html>