{include file="public/header"}

    {include file="public/nav"}


<!-- 轮播图 -->
<div>
    <div id="ad-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {volist name="banner" id="vo" key="k"}
            <li data-target="#ad-carousel" data-slide-to="0" class="{$k == 1 ? 'active' : ''}"></li>
            {/volist}
        </ol>
        <div class="carousel-inner">
            {volist name="banner" id="vo" key="k"}
            <div class="item {$k == 1 ? 'active' : ''}">
                <img class="img-responsive" src="{$vo.media_id}" alt="1 slide">
            </div>
            {/volist}
        </div>
        <a class="left carousel-control" href="#ad-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#ad-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<!-- 横条 -->
<div class="bar hidden-xs">
    <img class="barImg" src="__STATIC__/index/img/barWord.png" alt="">
    <P class="barTel">加盟合作电话：</P>
</div>

<div class="body col-md-12">
    <!-- 近期活动&清宇资讯&更多 -->
    <div class="col-md-6">
        <h3>近期活动
            <a>Evevnt</a>
            </h2>
            <img class="img-responsive" src="{$eventBig.media_id}" alt="近期活动">
            <h4>
                <strong>{$eventBig.title}</strong>
        </h3>
        <p>{$eventBig.subtitle}</p>
        <p>{$eventBig.create_time}</p>
    </div>
    <div class="col-md-3">
        <h3>清宇资讯
            <a>News</a>
            </h3>


{volist name="newsThree" id="vo"}
<div class="news  col-md-12 col-sm-4 col-xs-4">
    <img class="newsImg img-responsive col-md-6" src="{$vo.media_id}" alt="">
    <div class="word col-md-6">
        <h4>
            <strong>{$vo.title}</strong>
            </h3>
            <p>{$vo.subtitle}</p>
            <p>{$vo.create_time}</p>
    </div>
</div>
{/volist}

</div>
<div class="col-md-3 word-news">
    <h3 class="more">更多
        <a>More</a>
    </h3>
    {volist name="events" id="vo"}
        <p>{$vo.title}<br />{$vo.create_time}</p>
    {/volist}
</div>
</div>

<!-- 发展历程&营业执照 -->
<div class="col-md-12 logoContainer">
    <!-- 发展历程 -->
    <div class="col-md-12  center-block history">
        <h4>清水宇治发展历程文字介绍</h4>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXX</p>

    </div>
    <!-- 营业执照轮播 -->
    <div class="license col-md-12 hidden-xs">

        <div class="friend">
            <div class="mr_frbox">
                <!--  <img class="mr_frBtnL prev" src="images/mfrl.gif" /> -->
                <div class="mr_frUl">
                    <ul id="mr_fu">
                        {volist name="desert" id="vo"}
                        <li>
                            <img src="{$vo.media_id}" />
                        </li>
                        {/volist}
                    </ul>
                </div>
                <!-- <img class="mr_frBtnR next" src="images/mfrr.gif" /> -->
            </div>
        </div>
    </div>
</div>

{include file="public/footer"}

<script type="text/javascript" src="__STATIC__/index/js/jquery.SuperSlide2.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        /* 图片滚动效果 */
        $(".mr_frbox").slide({
            titCell: "",
            mainCell: ".mr_frUl ul",
            autoPage: true,
            effect: "leftLoop",
            autoPlay: true,
            vis: 4
        });
    });
</script>
