{include file="public/header"}

    {include file="public/nav"}


<!-- 轮播图 -->
<div>
    <div id="ad-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#ad-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#ad-carousel" data-slide-to="1"></li>
            <li data-target="#ad-carousel" data-slide-to="2"></li>
            <li data-target="#ad-carousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="__STATIC__/index/img/banner/sky.jpg" alt="1 slide">


            </div>
            <div class="item">
                <img class="img-responsive" src="__STATIC__/index/img/banner/flower.jpg" alt="2 slide">

            </div>
            <div class="item">
                <img class="img-responsive" src="__STATIC__/index/img/banner/coffee.jpg" alt="3 slide">


            </div>
            <div class="item">
                <img class="img-responsive" src="__STATIC__/index/img/banner/building.jpg" alt="4 slide">


            </div>
        </div>
        <a class="left carousel-control" href="#ad-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#ad-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<!-- 横条 -->
<div class="bar hidden-xs">
    <img class="barImg" src="__STATIC__/index/img/barWord.png" alt="">
    <P class="barTel">加盟合作电话：</P>
</div>

<div class="body col-md-12">
    <!-- 近期活动&清宇资讯&更多 -->
    <div class="col-md-6">
        <h3>近期活动
            <a>Evevnt</a>
            </h2>
            <img class="img-responsive" src="__STATIC__/index/img/event.png" alt="近期活动">
            <h4>
                <strong>标题标题标题</strong>
        </h3>
        <p>摘要：XXXXXXXXXX</p>
    </div>
    <div class="col-md-3">
        <h3>清宇资讯
            <a>News</a>
            </h2>

            <div class="news col-md-12 col-sm-4 col-xs-4">
                <img class="newsImg img-responsive col-md-6" src="__STATIC__/index/img/news.png" alt="">
                <div class="word col-md-6">
                    <h4>
                        <strong>标题</strong>
        </h3>
        <p>摘要：XXXXXXXXXX</p>
    </div>
</div>

<div class="news  col-md-12 col-sm-4 col-xs-4">
    <img class="newsImg img-responsive col-md-6" src="__STATIC__/index/img/news.png" alt="">
    <div class="word col-md-6">
        <h4>
            <strong>标题</strong>
            </h3>
            <p>摘要：XXXXXXXXXX</p>
    </div>
</div>

<div class="news  col-md-12 col-sm-4 col-xs-4">
    <img class="newsImg img-responsive col-md-6" src="__STATIC__/index/img/news.png" alt="">
    <div class="word col-md-6">
        <h4>
            <strong>标题</strong>
            </h3>
            <p>摘要：XXXXXXXXXX</p>
    </div>
</div>
</div>
<div class="col-md-3 word-news">
    <h3 class="more">更多
        <a>More</a>
    </h3>
    <p>最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯</p>
    <p>最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯</p>
    <p>最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯</p>
    <p>最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯</p>
    <p>最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯</p>
    <p>最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯最新资讯</p>


</div>
</div>

<!-- 发展历程&营业执照 -->
<div class="col-md-12 logoContainer">
    <!-- 发展历程 -->
    <div class="col-md-12  center-block history">
        <h4>清水宇治发展历程文字介绍</h4>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXX</p>

    </div>
    <!-- 营业执照轮播 -->
    <div class="license col-md-12 hidden-xs">

        <div class="friend">
            <div class="mr_frbox">
                <!--  <img class="mr_frBtnL prev" src="images/mfrl.gif" /> -->
                <div class="mr_frUl">
                    <ul id="mr_fu">
                        <li>
                            <img src="__STATIC__/index/img/shop.png" />
                        </li>
                        <li>
                            <img src="__STATIC__/index/img/shop.png" />
                        </li>
                        <li>
                            <img src="__STATIC__/index/img/shop.png" />
                        </li>
                        <li>
                            <img src="__STATIC__/index/img/shop.png" />
                        </li>
                        <li>
                            <img src="__STATIC__/index/img/shop.png" />
                        </li>
                        <li>
                            <img src="__STATIC__/index/img/shop.png" />
                        </li>
                        <li>
                            <img src="__STATIC__/index/img/shop.png" />
                        </li>
                        <li>
                            <img src="__STATIC__/index/img/shop.png" />
                        </li>
                        <li>
                            <img src="__STATIC__/index/img/shop.png" />
                        </li>


                    </ul>
                </div>
                <!-- <img class="mr_frBtnR next" src="images/mfrr.gif" /> -->
            </div>
        </div>
    </div>
</div>

{include file="public/footer"}

<script type="text/javascript" src="__STATIC__/index/js/jquery.SuperSlide2.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        /* 图片滚动效果 */
        $(".mr_frbox").slide({
            titCell: "",
            mainCell: ".mr_frUl ul",
            autoPage: true,
            effect: "leftLoop",
            autoPlay: true,
            vis: 4
        });
    });
</script>
