{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/about.css" type="text/css" media="all" />
{include file="public/nav"}

<!-- 资讯 -->
<div class="body-box">
    <video class="center-block" src="__STATIC__/index/video/movie.ogg" controls="controls"></video>
    <div class="summary-box">
        <p class="p1">
            清水宇治，全名清水宇治餐饮管理有限公司，公司成立于香港,另亦在中国广东省广州市注册分公司，是一家以抹茶专门店为基础，传播抹茶文化，促进国际文化交流，并帮助创业者实现自我的企业。
        </p>
        <p class="p2">清水宇治餐饮管理有限公司以协助青年创业为己任,致力承担社会责任并从 中体现出自身社会价值。
            目前已引入世界级管理人才及世界级设计团队加入公司,打造非一般日式环境实体店,配上健康而且己成世界潮流方向,但在中国却是相对空白市场的抺茶甜品专门店作卖点的创业基础,为想创业但苦无头绪的一班
            年轻人提供机会。无论在营销策略、宣传计划、管理方针方面都能提供一站式服务,务求把青年创业风险减至最低,利益最大化。
            公司以与客户共同成长的方式发展,利益与客户的收益直接挂勾,在优惠政策下青年能更轻易地创业,成就一番事业。
            清水宇治基础定位为抹茶专门日式甜品店，所选用的原料为真正高级抹茶。
            区别于市面上良莠不齐的抹茶味冲调粉、以次充好的绿茶粉，清水宇治的抹茶均为日本原装进口，系真正意义上经过碾磨、蒸青的纯正抹茶。纯度高的抹茶，口感清新，入口回甘而余味无穷，微涩而不失细海苔香。
            赋以佳词，沫沉华浮，晔若春敷。
            所有产品几乎都加入了抹茶的元素，入口丝滑茶香芬芳的抹茶雪糕、醇而不腻的大福、酥软和茶香融合的泡芙、外脆内软的舒芙蕾、顺滑细腻而又甜蜜暖心的心太软、如冻结春日般的水信玄饼…
            出品精雕细琢，不苟微丝，只为把最好的体验带给顾客。
        </p>
    </div>
</div>

{include file="public/footer"}