{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/store.css" type="text/css" media="all" />
{include file="public/nav"}

    <!-- 店铺环境轮播图 -->
    <div>
        <div id="ad-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#ad-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#ad-carousel" data-slide-to="1"></li>
                <li data-target="#ad-carousel" data-slide-to="2"></li>
                <li data-target="#ad-carousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="__STATIC__/index/img/banner/sky.jpg" alt="1 slide">


                </div>
                <div class="item">
                    <img class="img-responsive" src="__STATIC__/index/img/banner/flower.jpg" alt="2 slide">

                </div>
                <div class="item">
                    <img class="img-responsive" src="__STATIC__/index/img/banner/coffee.jpg" alt="3 slide">


                </div>
                <div class="item">
                    <img class="img-responsive" src="__STATIC__/index/img/banner/building.jpg" alt="4 slide">


                </div>
            </div>
            <a class="left carousel-control" href="#ad-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#ad-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <!-- 列表横条 -->
    <div class="storeList col-md-12">
        <div class="col-md-2">
            <p>门店列表
                <a>Stores</a>
            </p>
        </div>
        <div class="col-md-10">
            <hr>
        </div>
    </div>

    <!-- 门店列表 -->
    <div class="body">
        <div class="stores">
            <div class="store col-md-12">
                <div class="col-md-10">
                    <p class="storeName">1,珠海暨珠店</p>
                    <p class="storeAddress">地址：广东省珠海市香洲区前山街道翠微东路445号商铺（暨大北门公交站旁）</p>
                    <p class="storeTel">联系电话：13149305305</p>
                </div>
                <div class="col-md-2">
                    <img src="__STATIC__/index/img/store.png" class="img-responsive" alt="门店照片">
                </div>
            </div>
            <div class="store col-md-12">
                <div class="col-md-10">
                    <p class="storeName">1,珠海暨珠店</p>
                    <p class="storeAddress">地址：广东省珠海市香洲区前山街道翠微东路445号商铺（暨大北门公交站旁）</p>
                    <p class="storeTel">联系电话：13149305305</p>
                </div>
                <div class="col-md-2">
                    <img src="__STATIC__/index/img/store.png" class="img-responsive" alt="门店照片">
                </div>
            </div>
            <div class="store col-md-12">
                <div class="col-md-10">
                    <p class="storeName">1,珠海暨珠店</p>
                    <p class="storeAddress">地址：广东省珠海市香洲区前山街道翠微东路445号商铺（暨大北门公交站旁）</p>
                    <p class="storeTel">联系电话：13149305305</p>
                </div>
                <div class="col-md-2">
                    <img src="__STATIC__/index/img/store.png" class="img-responsive" alt="门店照片">
                </div>
            </div>
            <div class="store col-md-12">
                <div class="col-md-10">
                    <p class="storeName">1,珠海暨珠店</p>
                    <p class="storeAddress">地址：广东省珠海市香洲区前山街道翠微东路445号商铺（暨大北门公交站旁）</p>
                    <p class="storeTel">联系电话：13149305305</p>
                </div>
                <div class="col-md-2">
                    <img src="__STATIC__/index/img/store.png" class="img-responsive" alt="门店照片">
                </div>
            </div>
            <div class="store col-md-12">
                <div class="col-md-10">
                    <p class="storeName">1,珠海暨珠店</p>
                    <p class="storeAddress">地址：广东省珠海市香洲区前山街道翠微东路445号商铺（暨大北门公交站旁）</p>
                    <p class="storeTel">联系电话：13149305305</p>
                </div>
                <div class="col-md-2">
                    <img src="__STATIC__/index/img/store.png" class="img-responsive" alt="门店照片">
                </div>
            </div>
        </div>
    </div>

{include file="public/footer"}