{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/store.css" type="text/css" media="all" />
<link rel="stylesheet" href="__STATIC__/index/css/slick.css">
<link rel="stylesheet" href="__STATIC__/index/css/slick-theme.css">
{include file="public/nav"}

    <!-- 店铺环境轮播图 -->
    <div class="banner">

        <div>
            <a href="http://www.dowebok.com">
                <img src="__STATIC__/index/img/banner/building.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="http://www.dowebok.com">
                <img src="__STATIC__/index/img/banner/building.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="http://www.dowebok.com">
                <img src="__STATIC__/index/img/banner/building.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="http://www.dowebok.com">
                <img src="__STATIC__/index/img/banner/building.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="http://www.dowebok.com">
                <img src="__STATIC__/index/img/banner/building.jpg" alt="">
            </a>
        </div>
    </div>

    <!-- 列表横条 -->
    <div class="storeList col-md-12">
        <div class="col-md-2">
            <p>门店列表
                <a>Stores</a>
            </p>
        </div>
        <div class="col-md-10">
            <hr>
        </div>
    </div>

    <!-- 门店列表 -->
    <div class="body">
        <div class="stores">
            {volist name="store" id="vo"}
            <div class="store col-md-12">
                <div class="col-md-10">
                    <p class="storeName">{$vo.name}</p>
                    <p class="storeAddress">地址：{$vo.address}</p>
                    <p class="storeTel">联系电话：{$vo.telephone}</p>
                </div>
                <div class="col-md-2">
                    <img src="{$vo.media_id}" class="img-responsive" alt="门店照片">
                </div>
            </div>
            {/volist}
        </div>
    </div>

{include file="public/footer"}