{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/store.css" type="text/css" media="all" />
<link rel="stylesheet" href="__STATIC__/index/css/slick.css">
<link rel="stylesheet" href="__STATIC__/index/css/slick-theme.css">
{include file="public/nav"}

    <!-- 店铺环境轮播图 -->
    <div class="banner">

        <div>
            <a href="http://www.dowebok.com">
                <img src="__STATIC__/index/img/banner/building.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="http://www.dowebok.com">
                <img src="__STATIC__/index/img/banner/building.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="http://www.dowebok.com">
                <img src="__STATIC__/index/img/banner/building.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="http://www.dowebok.com">
                <img src="__STATIC__/index/img/banner/building.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="http://www.dowebok.com">
                <img src="__STATIC__/index/img/banner/building.jpg" alt="">
            </a>
        </div>
    </div>

    <!-- 列表横条 -->
    <div class="storeList col-md-12">
        <div class="col-md-2">
            <p>门店列表
                <a>Stores</a>
            </p>
        </div>
        <div class="col-md-10">
            <hr>
        </div>
    </div>

    <!-- 门店列表 -->
    <div class="body">
        <div class="stores">
            <div class="store col-md-12">
                <div class="col-md-10">
                    <p class="storeName">1,珠海暨珠店</p>
                    <p class="storeAddress">地址：广东省珠海市香洲区前山街道翠微东路445号商铺（暨大北门公交站旁）</p>
                    <p class="storeTel">联系电话：13149305305</p>
                </div>
                <div class="col-md-2">
                    <img src="__STATIC__/index/img/store.png" class="img-responsive" alt="门店照片">
                </div>
            </div>
            <div class="store col-md-12">
                <div class="col-md-10">
                    <p class="storeName">1,珠海暨珠店</p>
                    <p class="storeAddress">地址：广东省珠海市香洲区前山街道翠微东路445号商铺（暨大北门公交站旁）</p>
                    <p class="storeTel">联系电话：13149305305</p>
                </div>
                <div class="col-md-2">
                    <img src="__STATIC__/index/img/store.png" class="img-responsive" alt="门店照片">
                </div>
            </div>
            <div class="store col-md-12">
                <div class="col-md-10">
                    <p class="storeName">1,珠海暨珠店</p>
                    <p class="storeAddress">地址：广东省珠海市香洲区前山街道翠微东路445号商铺（暨大北门公交站旁）</p>
                    <p class="storeTel">联系电话：13149305305</p>
                </div>
                <div class="col-md-2">
                    <img src="__STATIC__/index/img/store.png" class="img-responsive" alt="门店照片">
                </div>
            </div>
            <div class="store col-md-12">
                <div class="col-md-10">
                    <p class="storeName">1,珠海暨珠店</p>
                    <p class="storeAddress">地址：广东省珠海市香洲区前山街道翠微东路445号商铺（暨大北门公交站旁）</p>
                    <p class="storeTel">联系电话：13149305305</p>
                </div>
                <div class="col-md-2">
                    <img src="__STATIC__/index/img/store.png" class="img-responsive" alt="门店照片">
                </div>
            </div>
            <div class="store col-md-12">
                <div class="col-md-10">
                    <p class="storeName">1,珠海暨珠店</p>
                    <p class="storeAddress">地址：广东省珠海市香洲区前山街道翠微东路445号商铺（暨大北门公交站旁）</p>
                    <p class="storeTel">联系电话：13149305305</p>
                </div>
                <div class="col-md-2">
                    <img src="__STATIC__/index/img/store.png" class="img-responsive" alt="门店照片">
                </div>
            </div>
        </div>
    </div>

{include file="public/footer"}