.body{
    padding-top: 300px!important;
}
.body-box{
    /* border: 1px solid #291d1d; */
    background: white;
    padding-top: 20px;
    padding-bottom: 100px;
    border-left: #ccc    solid 2px;
    border-right: #ccc solid 2px;
    border-bottom: #777777 solid 2px;
}
.title{
    margin-top: 10px;
}
.img{
    width: 30%;
    display: inline-block;
    position: relative;
    left: 0px;
}
.content-box{
    width: 70%;
    position: relative;
    right: 0px;
}
/* 超大屏幕时样式 >1024 */
@media (min-width: 1024px) {
    .body-box{
        margin: 270px 15% 20px 15%;
    }

 }
 /* 大屏幕显示样式 768-1024*/
@media (min-width: 768px) and (max-width:1024px) {
    .body-box{
        margin: 300px 15% 20px 15%;
    }
}
/* 小屏幕样式 <768*/
@media (min-width:500px) and  (max-width: 768px) {
    .body-box{
        margin: 360px 5% 20px 5%;
    }

}

@media(max-width:500px){
    .body-box{
        margin-top: 300px;
    }
}