.decoration{
    height: 150px;
    background: url(../img/decoration.png);
    margin-bottom:20px;
}
.title{
    margin-top: 10px;
}
.news{
    padding-top: 10px;
    padding-bottom: 10px;    
}

.time{
    color: #878787;
}
.link > a{
    margin-left: 0px;
}
/* 超大屏幕时样式 >1024 */
@media (min-width: 1024px) {
    .scrolled{
        margin-top: 270px !important;
    }
    .body{
        margin-top: 280px;
    }
    .news-box{
        margin: 280px 10%;
        margin-bottom: 100px;
        border-bottom: #444444 solid 2px;
    }
    .news{
        border-left: #999999 solid 1px;
        border-right: #999999 solid 1px;
        background: white;
    }
    .contact{
        margin-top: 50px;
    }
    .news-box{
        margin: 280px 10%;
    }
 }
/* 平板屏幕样式 */
@media (min-width: 768px) and (max-width:1024px) {
    img{
        display:block;
        margin-right:auto;
        margin-left:auto
    }
    h3,p{
        text-align: center;
    }
    .body{
        margin-top: 310px;
    }
    .scrolled{
        margin-top: 270px !important;
        
    }
}
/* 小屏幕样式 <768*/
@media (max-width: 768px) {
    .news-box{
        margin-top: 300px;
    }
    .scrolled{
        margin-top: 200px !important;
    }
    .news-box{
        margin-top: 300px;
    }
 }