{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/news.css" type="text/css" media="all" />
{include file="public/nav"}

<!-- 门店装饰 -->
<div class="col-md-12 decoration"></div>
    
    <!-- 资讯 -->
    <div class="body">
        <div class="news col-md-12">
            <div class="col-md-3">
                <img src="__STATIC__/index/img/newsImg.png" class="img-responsive" alt="新闻图片">
            </div>
            <div class="col-md-9">
                <h3>资讯1 标题XXXX XXXXX XXXXX</h3>
                <h3>副标题</h3>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>
        <div class="news col-md-12">
            <div class="col-md-3">
                <img src="__STATIC__/index/img/newsImg.png" class="img-responsive" alt="新闻图片">
            </div>
            <div class="col-md-9">
                <h3>资讯1 标题XXXX XXXXX XXXXX</h3>
                <h3>副标题</h3>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>
        <div class="news col-md-12">
            <div class="col-md-3">
                <img src="__STATIC__/index/img/newsImg.png" class="img-responsive" alt="新闻图片">
            </div>
            <div class="col-md-9">
                <h3>资讯1 标题XXXX XXXXX XXXXX</h3>
                <h3>副标题</h3>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>
        <div class="news col-md-12">
            <div class="col-md-3">
                <img src="__STATIC__/index/img/newsImg.png" class="img-responsive" alt="新闻图片">
            </div>
            <div class="col-md-9">
                <h3>资讯1 标题XXXX XXXXX XXXXX</h3>
                <h3>副标题</h3>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>
        <div class="news col-md-12">
            <div class="col-md-3">
                <img src="__STATIC__/index/img/newsImg.png" class="img-responsive" alt="新闻图片">
            </div>
            <div class="col-md-9">
                <h3>资讯1 标题XXXX XXXXX XXXXX</h3>
                <h3>副标题</h3>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>
        <div class="news col-md-12">
            <div class="col-md-3">
                <img src="__STATIC__/index/img/newsImg.png" class="img-responsive" alt="新闻图片">
            </div>
            <div class="col-md-9">
                <h3>资讯1 标题XXXX XXXXX XXXXX</h3>
                <h3>副标题</h3>
                <p class="time">XXXX年XX月XX日</p>
            </div>
        </div>
    </div>

{include file="public/footer"}