{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/news.css" type="text/css" media="all" />
{include file="public/nav"}

<!-- 门店装饰 -->
<div class="col-md-12 decoration"></div>
    
    <!-- 资讯 -->
    <div class="body">
        {volist name="news" id="vo" key="key"}
        <div class="news col-md-12 col-sm-12">
            <div class="col-md-3">
                <img src="{$vo.media_id}" class="img-responsive" alt="新闻图片">
            </div>
            <div class="col-md-9">
                <h3>资讯{$key}：{$vo.title}</h3>
                <h3>{$vo.subtitle}</h3>
                <p class="time">{$vo.create_time}</p>
            </div>
        </div>
        {/volist}

        {$news->render()}
    </div>

{include file="public/footer"}
