{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/index/css/detail.css" type="text/css" media="all" />
    <!-- head -->
    {include file="public/nav"}

    <div class="body-box">

        <div class="left-box col-md-2 hidden-xs hidden-sm">
            <div class="recent-box">
                {volist name="leftDesert" id="vo"}
                <div class="recent">
                    <img class="img-responsive" src="{$vo.media_id}" alt="">
                    <p class="name">{$vo.name}</p>
                </div>
                {/volist}
                <button class="btn btn-default center-block">更多</button>
            </div>

            <div class="control-panel">
                <p class="list">
                    <a href="__PATH__?s=index/product/index">目录</a>
                </p>
                <p class="last">
                    <a href="__PATH__?s=index/detail/index&id={$id-1}">上一篇</a>
                </p>
                <p class="next">
                    <a href="__PATH__?s=index/detail/index&id={$id+1}">下一篇</a>
                </p>
            </div>
        </div>

        <div class="right-box col-md-9">
            <div class="content-box">
                <div class="title"><p>{$desert.name}</p></div>
                <div class="content">
                    {$desert.introduction}
                </div>
            </div>
        </div>
    </div>
{include file="public/footer"}
