body{
    background: #f6f6f6;
}
.body-box{
    /* border: 1px solid #291d1d; */
    background: white;
    padding-top: 20px;
    padding-bottom: 100px;
    border-bottom: #999999 solid 2px;
    box-shadow: 5px 3px 3px #888888;
}
video{
    width: 90%;
    margin-top: 10px;
}
.summary-box{
    margin: 20px;
}
.summary-box > p{
    font-family: "microsoft yahei";
    font-size: 20px;
    text-indent:2em;
    line-height: 40px;
}
/* 超大屏幕时样式 >1024 */
@media (min-width: 1024px) {
    .body-box{
        margin: 270px 15% 20px 15%;
    }

 }
 /* 大屏幕显示样式 768-1024*/
@media (min-width: 768px) and (max-width:1024px) {
    .body-box{
        margin: 300px 15% 20px 15%;
    }
}
/* 小屏幕样式 <768*/
@media (min-width:500px) and  (max-width: 768px) {
    .body-box{
        margin: 360px 5% 20px 5%;
    }

}

@media(max-width:500px){
    .body-box{
        margin-top: 300px;
    }
}