
.left-box{
    background: #f6f6f6;
    
}
.recent-box{
    background: white;
    border-left: #ccc    solid 2px;
    border-right: #ccc solid 2px;
    border-bottom: #777777 solid 2px;
    padding: 20px 15px;
}
.recent{
    text-align: center;
    color: #bbb;
}
.right-box{
    background: white;
    border-left: #ccc    solid 2px;
    border-right: #ccc solid 2px;
    border-bottom: #777777 solid 2px;
}
.time{
    line-height: 30px;
    font-size: 20px;
    color: #777777;
}
.title{
    border-bottom: #999999 solid 2px;
}
.title > p {
    font-family: "SimHei";
    font-size: 25px;
    font-weight: bold;
}
.right-box{
    margin-bottom: 50px;
}
.content > p{
    font-size: 20px;
    text-indent:2em;
    word-wrap:break-word; 
    word-break:break-all; 
    
}
.control-panel{
    background: white;
    text-align: center;
    margin: 20px 0px;
    padding: 10px 3px 10px 3px;
    border-left: #ccc    solid 2px;
    border-right: #ccc solid 2px;
    border-bottom: #777777 solid 2px;
    font-family: "microsoft yahei";
}
.control-panel > p{
    display: inline;
    padding: 5px;
}

/* 超大屏幕时样式 >1024 */
@media (min-width: 1024px) {
    .body-box{
        margin: 270px 15% 20px 15%;
    }
    .right-box{
        margin-left: 50px;
    }

 }
 /* 大屏幕显示样式 768-1024*/
@media (min-width: 768px) and (max-width:1024px) {
    .body-box{
        margin: 300px 15% 20px 15%;
    }
}
/* 小屏幕样式 <768*/
@media (min-width:500px) and (max-width: 768px) {
    .body-box{
        margin-top: 360px;
    }
    .right-box{
        margin-left: 0px;
    }

}
@media(max-width:500px){
    .body-box{
        margin-top: 300px;
    }
    .right-box{
        margin-left: 0px;
    }
}