/* banner */


a{
    color:rgb(53, 202, 39);
    margin-left:5px;
}
/* 横条 */
/* .bar{
    background: url(../img/bar.jpg) no-repeat right center rgb(78, 130, 55);
    height: 140px;
}
.barImg{
    height: 90px;
    width: auto;
    margin-left: 50px;
    margin-top: 10px;
}
.barTel{
    font-size: 18px;
    margin-left: 40px;
    margin-top: 8px;
    font-family: 'microsoft yahei';
} */

/* 清宇资讯 */
.news{
    padding-left: 0px!important;
}
.word-news p {
    border-bottom: solid #aaaaaa;
}
.newsImg{
    padding-left: 0px !important;
    padding-bottom: 10px;
}
/* 更多 */
.more{
    text-align: right;
}

/* 下方宇字logo */
.logoContainer{
    
    background: url(../img/U.png) center;
    background-repeat:no-repeat; 
    background-size:auto 100%;
    -moz-background-size:auto 100%;
}
/* 发展历程 */

.history {
    text-align: center;
    padding: 50px 0;
    font-size: 15px;
    text-indent: 2em;
    line-height: 20px;
}


/* 执照轮播 */
.license{
    margin-bottom: 40px;
}
.friend {
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.mr_frbox {
    height: 407px;
    padding: 24px 0px 0px;
}

.mr_frBtnL {
    cursor: pointer;
    display: inline;
    float: left;
    height: 46px;
    margin: 160px 10px 0 0;
    width: 28px;
}

.mr_frUl {
    float: left;
    height: 202px;
    width: 100%;
    
}
.tempWrap{
    width: 100%;
}
.mr_frBtnR {
    float: right;
    margin-top: 160px;
    cursor: pointer;
    width: 28px;
    height: 46px;
}

.mr_frUl ul li {
    display: inline;
    float: left;
    /*height:389px;*/
    width: 300px;
    overflow: hidden;
    position: relative;
    padding: 0 10px
}

.mr_frUl ul li a img {
    /*display:block;*/
    width: 100%;
}

/* 超大屏幕时样式 >1024 */
@media (min-width: 1024px) {
    .carousel .item {
        height: 500px;
        background-color: #000;
    }
    .navbar {
        z-index: 100;
    }
    .body {
        padding: 0 15%;
    }
    .contact {
        padding-top: 15px;
        padding-left: 40%;
        padding-bottom: 15px;
    }
    .contact-detail {
        padding: 2px 0;
    }
    .news{
        text-align: left;
    }
    /* 轮播广告 */
    .banner{
        margin-top: 270px;
    }
    .history{
        width: 50%;
        margin-left: 25%;        
    }

 }
 /* 大屏幕显示样式 768-1024*/
@media (min-width: 768px) and (max-width:1024px) {
    .carousel .item {
        height: 500px;
        background-color: #000;
    }
    .navbar {
        z-index: 100;
    }
    .body {
        padding: 0 5%;
    }
    .contact {
        padding-top: 15px;
        padding-left: 40%;
        padding-bottom: 15px;
    }
    .contact-detail {
        padding: 2px 0;
    }
    .news{
        text-align: left;
    }
    /* 轮播广告 */
    .banner{
        margin-top: 270px;
    }

    
}
/* 小屏幕样式 <768*/
@media (max-width: 768px) {
   .news{
       text-align: left;
   }
   /* 更多 */
    .more{
        text-align: left;
    }
    .body {
        padding: 0 1%;
    }
    /* 轮播广告 */
    .banner{
        margin-top: 300px;
    }

}