.decoration{
    height: 150px;
    background: url(../img/decoration.png);
    margin-bottom:20px;
}
.body{
    margin-top: 10px;
}
.news{
    margin-bottom: 10px;
    margin-top: 10px;
}

/* 平板屏幕样式 */
@media (min-width: 768px) and (max-width:1024px) {
    img{
        display:block;
        margin-right:auto;
        margin-left:auto
    }
    h3,p{
        text-align: center;
    }
}